---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro"
import Mayor from "../components/Mayor.astro"
import "../css/index.css";
---

<Layout>
    <Mayor />
    <section class="hero">
    <div class="overlay"></div>
    <Navigation /> 
    <div class="content">
      <h1>Siente la Fuerza de Nuestra Tierra en cada Sorbo</h1>
      <a href="/" class="tasty">Probar ahora</a>
    </div>

    </section>

    <script type="module">
      const ok = document.querySelector(".yes")
      const mayor = document.querySelector(".mayor")

      ok.addEventListener("click", ()=> {
        mayor.classList.add("ocultar")
      })
    </script>
</Layout>
