---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro";
import Mayor from "../components/Mayor.astro";
import Contact from "../components/contact.astro";
import "../css/index.css";
---

<Layout>
  <Mayor />
  <section class="hero">
    <div class="overlay"></div>
    <Navigation />
    <div class="content">
      <h1>Siente la Fuerza de Nuestra Tierra en cada Sorbo</h1>
      <a href="/" class="tasty">Probar ahora</a>
    </div>
  </section>

  <section class="about">
    <div class="content">
      <div class="part_1">
        <h2>Nuestra historia, tu sabor</h2>
      </div>
      <div class="part_2">
        <div class="box">
          <p>
            Creemos que la perfección no se apresura, se cultiva. Nuestra
            historia es el resultado de años perfeccionando la alquimia entre el
            agua más pura y granos seleccionados con rigor. Al unir nuestra
            herencia artesanal con tu paladar, creamos un equilibrio perfecto
            donde el pasado y el presente se encuentran. Un sabor diseñado para
            quienes saben que los mejores relatos se cuentan frente a una buena
            copa.
          </p>
        </div>
        <div class="box">
          <img src="./bottle.png" alt="Cerveza Negra" class="bottle" />
        </div>
        <div class="box box_3">
          <img src="./sello.png" alt="" class="poster" />
        </div>
      </div>
    </div>
  </section>

  <section class="information">
    <div class="content">
      <div class="info">
        <h2>Guanerita Negra</h2>
        <p>
          Una alquimia perfecta de maltas tostadas con notas profundas a café y
          chocolate amargo. Forjada con la paciencia que solo nuestra tierra
          santandereana sabe dar.
        </p>
      </div>

      <div class="data">
        <div class="line">
          <h3>Alcohol: 8.5% Vol.</h3>
        </div>
        <div class="line">
          <h3>IBU: 45 (Amargor Medio)</h3>
        </div>
        <div class="line">
          <h3>Cuerpo: Robusto y Cremoso</h3>
        </div>
      </div>
    </div>
  </section>

  <div class="counter">
    <img src="./lupulo.png" alt="" class="lupulo_1">
    <img src="./lupulo.png" alt="" class="lupulo_2">
    <div class="content">
      <div class="card">
        <h5>Referencias</h5>
        <h6>9</h6>
      </div>
      <div class="line"></div>
      <div class="card">
        <h5>Referencias caninas</h5>
        <h6>1</h6>
      </div>
    </div>
    <img src="./perro.png" alt="" />
  </div>

  <Contact />
  <script>
    const ok = document.querySelector(".yes");
    const mayor = document.querySelector(".mayor");
    const body = document.querySelector(".body");

    ok.addEventListener("click", () => {
      mayor.classList.add("ocultar");
      body.classList.remove("hidden");
    });


  import { gsap } from "gsap";
  import { ScrollTrigger } from "gsap/ScrollTrigger";

  gsap.registerPlugin(ScrollTrigger);

  window.addEventListener("load", () => {
    const tl = gsap.timeline({
      scrollTrigger: {
        trigger: ".about", // About como disparador
        start: "top bottom", // Empieza cuando el About asoma por abajo
        end: "top top",      // Termina cuando el About llega al tope de la pantalla
        scrub: 1,        
      }
    });

    tl.to(".hero", {
      opacity: 0,
      y: -100,
      duration: 1
    }, 0);

    tl.fromTo(".about", 
      { y: 300, opacity: 0 }, 
      { y: 0, opacity: 1, duration: 1 }, 
      0
    );

    // la seccion sube y aparece
    tl.from(".about .part_1, .about .box:not(:has(.bottle))", {
      y: 50,
      opacity: 0,
      stagger: 0.2,
      duration: 0.5
    });

    // la botella baja 
    tl.to(".bottle", {
      y: 400, // La botella baja los 400px
      ease: "power1.inOut",
      duration: 2 // duración para que dure el resto del scroll de la sección
    });

    // sello animacion
    tl.from(".poster", {
      scale: 0,
      rotation: -180,
      opacity: 0,
      duration: 0.5
    }, "-=1.5");
  });
  </script>
</Layout>
