---
import Layout from "../layouts/Layout.astro";
import Navigation from "../components/navigation.astro"
import Mayor from "../components/Mayor.astro"
import "../css/index.css";
---

<Layout>
    <Mayor />
    <section class="hero">
    <div class="overlay"></div>
    <Navigation /> 
    <div class="content">
      <h1>Siente la Fuerza de Nuestra Tierra en cada Sorbo</h1>
      <a href="/" class="tasty">Probar ahora</a>
    </div>
    </section>

    <section class="about">
      <div class="content">
        <div class="part_1">
          <h2>Nuestra historia, tu sabor</h2>
        </div>
        <div class="part_2">
          <div class="box">
            <p>Creemos que la perfección no se apresura, se cultiva. Nuestra historia es el resultado de años perfeccionando la alquimia entre el agua más pura y granos seleccionados con rigor. Al unir nuestra herencia artesanal con tu paladar, creamos un equilibrio perfecto donde el pasado y el presente se encuentran. Un sabor diseñado para quienes saben que los mejores relatos se cuentan frente a una buena copa.</p>
          </div>
          <div class="box">
            <img src="./bottle.png" alt="Cerveza Negra" class="bottle">
          </div>
          <div class="box box_3">
            <img src="./guanerita (2).png" alt="" class="poster">
          </div>
        </div>
      </div>
    </section>

    <script type="module">
      const ok = document.querySelector(".yes")
      const mayor = document.querySelector(".mayor")

      ok.addEventListener("click", ()=> {
        mayor.classList.add("ocultar")
      })
    </script>
</Layout>
