:root {
  --fondo-gris: #313131e3;
  --dorado-guanerita: #c49b55;
  --negro-quemado: #1a1a19;
  --crema-suave: #d9c5a0;
  --sombra-medieval: 0 10px 30px rgba(0, 0, 0, 0.7);
  --borde-pergamino: 1px solid rgba(217, 197, 160, 0.3);
}

body {
  max-width: 1920px;
  width: 100vw;
  margin: 0;
  padding: 0;
  background: var(--negro-quemado);
  color: var(--crema-suave);
  overflow-x: hidden;
  margin: auto;
}

.hidden{
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle,
    rgba(0, 0, 0, 0.4) 0%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 2;
}

.hero {
  width: 100dvw;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  background-image: url("/back.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.hero .content {
  width: 95%;
  height: calc(100% - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
  flex-direction: column;
}

.hero h1 {
  font-size: clamp(2.5rem, 8vw, 4.5rem);
  text-align: center;
  color: var(--dorado-guanerita);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
}

.hero .tasty {
  padding: 12px 25px;
  font-size: 1.2rem;
  text-decoration: none;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  cursor: pointer;
  transition: 0.3s;
  border: 1px solid var(--dorado-guanerita);
  background: var(--dorado-guanerita);
  color: var(--negro-quemado);
  box-shadow: 0 0 10px var(--dorado-guanerita);
}

.about {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--negro-quemado);
  z-index: 10;
}

.about .content {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.about .part_1 {
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about h2 {
  font-size: clamp(2.5rem, 8vw, 5.5rem);
  color: var(--dorado-guanerita);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
}

.about .part_2 {
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .box {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .bottle{
    width: 90%;
    filter: drop-shadow(0 0 100px var(--dorado-guanerita));
    user-select: none;
    rotate: 16deg;
    z-index: 4;
  }
}

.about .poster{
  width: 300px;
  opacity: 0.35;
  user-select: none;
  transform: rotate(10deg);
  mix-blend-mode: screen;
  filter: blur(0.4px) contrast(1.2);
  pointer-events: none;
}

.about p {
  font-size: clamp(1rem, 3.8vh ,2.5rem);
  color: var(--crema-suave);
  font-family: "Montserrat", sans-serif;
}


.information{
  width: 100%;
  height: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.information .content{
  width: 95%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info, .data{
  width: 35%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.info{
  align-items: flex-start;
}

.information h2{
  font-size: clamp(2.5rem, 8vw, 3.5rem);
  color: var(--dorado-guanerita);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
    margin: 0;
    line-height: 45px;

}

.information p {
  font-size: clamp(1rem, 3.8vh ,2.5rem);
  color: var(--crema-suave);
  font-family: "Montserrat", sans-serif;
}

.information h3{
  font-size: 1.5rem;
  color: var(--crema-suave);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
    margin: 0;
    line-height: 45px;
}

.data{
  border: 1px solid var(--dorado-guanerita);
  height: 350px;
  width: 300px;
  padding: 0 30px ;
  align-items: flex-end;
}

.data .line{
  width: 100%;
  border-bottom: 1px solid var(--crema-suave);
}


.counter{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  .perro{
    position: absolute;
    width: 250px;
    top: 0;
    transform: translateY(20%);
    z-index: 2;
  }

  overflow: hidden;
}

.counter .backgroundCounter{
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  overflow: hidden;
}

.counter .boxCounter{
  width: 33.33%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;

  img{
    width: 100%;
    height: 100%;
    position: relative;
  }
}

.counter .box_after_1::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--dorado-guanerita);
  z-index: 2;
  position: absolute;
  opacity: 0.7;
}

.counter .box_after_2::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--negro-quemado);
  z-index: 2;
  position: absolute;
  opacity: 0.7;
}

.counter .box_after_3::after{
  content: "";
  width: 100%;
  height: 100%;
  background-color: var(--dorado-guanerita);
  z-index: 2;
  position: absolute;
  opacity: 0.7;
}
.counter .content{
  margin-top: 50px;
  width: 400px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--negro-quemado);
  z-index: 4;
  border: 2px solid var(--crema-suave);
}

.counter .card{
  width: 40%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.content h5{
  font-size: 1.4rem;
  text-align: center;
  color: var(--crema-suave);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
    margin: 0;
    line-height: 45px;
}

.content h6{
  font-size: 1.3rem;
  text-align: center;
  color: var(--crema-suave);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6));
    margin: 0;
    line-height: 45px;
}

.counter .line{
  width: 2px;
  height: 75%;
  background-color: var(--crema-suave);
}

.counter .lupulo_1{
  left: 0;
  width: 350px;
  rotate: 225deg;
  transform: translate(150px, -100px);
  mix-blend-mode: screen;
  filter: blur(0.4px) contrast(1.2) grayscale(1);
  pointer-events: none;
  opacity: 0.2;
}

.counter .lupulo_2{
  opacity: 0.2;
  right: 0;
  width: 350px;
  transform: translate(150px, -100px);
  mix-blend-mode: screen;
  filter: blur(0.4px) contrast(1.2) grayscale(1);
  pointer-events: none;
  rotate: 45deg;
}

.reference{
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.reference .content{
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.reference .content .part_1{
  width: 100%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;

  img{
    width: 50%;
  }
}


.reference .content .part_1 article{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.reference h2{
  font-size: clamp(2.5rem, 8vw, 3.5rem);
  color: var(--dorado-guanerita);
  font-family: "Playfair Display", serif;
  letter-spacing: 3px;
  filter: drop-shadow(0 0 5px var(--negro-quemado))
    drop-shadow(0 0 15px rgba(0, 0, 0, 0.6)) ;
    margin: 0;
    line-height: 45px;
}

.reference p {
  font-size: clamp(1rem, 3.8vh ,2.5rem);
  color: var(--crema-suave);
  font-family: "Montserrat", sans-serif;
}
@media screen and (max-width: 1200px) {
  .about{
    height: auto;
  }

  .about .part_2{
    flex-direction: column;

    .box{
      width: 100%;
      height: 300px;
    }
  }

  .about .part_2 .bottle{
    width: auto;
    height: 150%;
  }

  .about h2{
    margin: 0;
  }

  .about p, .reference p{
    text-align: center;
    padding: 0;
    font-size: 1.2rem;
  }

  .about .part_2 .box_3{
    display: none;
  }

  .about .poster{
    display: none;
  }

  .information{
    display: none;
  }

  .information .content{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .information .info{
    justify-content: center;
    align-items: center;
  }


  .information h2, .reference h2{
    font-size: 2.5rem;
    text-align: center;
    padding: 0;
  }

  .counter{
    margin-top: 80px;
  }

  .counter .boxCounter{
    width: 100%;
  }

  .counter .box_after_1, .counter .box_after_3{
    display: none;
  }

  .reference .part_1{
    flex-direction: column;
  }

  .contact{
    img{
      bottom: 0;
    }
  }
}